<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static\home.css">
</head>
<body>
    <div class="A">
        <h1><center>Using Git</center></h1>
    </div>
   <div class="B">
        <h2><p>Technology is a very amazing thing that scientsts create.look at all the things that we as human beings will need in our lives,then make acool gadget or object .for example we needed to communicate each other </p></h2>
    </div >
    <div class="C">
        <h1><center>This is END</center></h1>
    </div >
</body>
</html>